<h1>Most Recent Tweets</h1>

<p>Recent Tweets:</p>
<% @tweets.recent.each do |x| %>
	<p>
	<%= link_to x.user.login, user_path(x.user.id) %>, <%= x.location %>:
	"<%= x.status %>"
	| <%= x.created_at.strftime("%b %d @ %l:%M %p") %>
	| <%= image_tag x.image_url(:thumb).to_s %>
	</p>
<% end %>	