<h1>Compose a new tweet</h1>

<%= form_for @tweet do |f| %>
	<p>
	<%= f.label :status %>
	<%= f.text_field :status %>
	</p>
	<p>
	<%= f.label :location %>
	<%= f.text_field :location %>
	</p>
	<p>
	<%= f.hidden_field :user_id, value: @current_user.id %>
	</p>
	<p>
	<%= f.submit "Submit"%>
	</p>	
<% end %>	