<%= form_for @user, html: { multipart: true } do |f| %>
	<%= f.label :login %>
	<%= f.text_field :login %>
	<p>
	<%= f.label :password %>
	<%= f.password_field :password %>
	</p>
	<%= f.label :password_confirmation, "Re-enter password" %>
	<%= f.password_field :password_confirmation %>
	<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
	</p>
	<p>
	<%= f.label :location %>
	<%= f.text_field :location %>
	</p>
	<p>
	<%= f.label :death, "When did you die?" %>
	<%= f.text_field :death %>
	</p>
	<p>
	Avatar: <%= f.file_field :image %>
	</p>
	<%= f.submit "Join the undead"%>
	
<% end %>